experiments/*.ipynb              linguist-documentation
lib/static/**                    linguist-vendored
*.min.css                        linguist-vendored
*.css.map                        linguist-generated
FastAPI.postman_collection.json  linguist-generated
