black
flake8
pylint
pytest==7.2.1
pytest-asyncio==0.20.3
pytest-order==1.1.0
fastapi==0.111.0
faiss_cpu==1.8.0
gdown==5.2.0
pillow==10.3.0
psycopg2==2.9.9
# torch==2.2.1
pandas
open-metric-learning==2.1.9
beautifulsoup4